@font-face {
    font-family: 'roboto';
    src: url('/fonts/Roboto-Regular.ttf');
}


body {
    margin: 0;
    font-family: roboto;
    color: white;

}

#pokedex {
    display: flex;
    flex-wrap: wrap;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.pokemonsCard {
    background-color: red;
    color: white;
    padding: 24px;
    width: 200px;
    margin: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 22px black;
}


#pokemonList {
    display: flex;
    flex-wrap: wrap;
}

#headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

#typeInfos {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


#smallImg {
    max-width: 100px;
}

#smallImg:hover {
    rotate: -10deg;
}

h1 {
    font-size: 20px;
}


#colorBackground {
    background-color: red;
    color: white;
    padding: 24px;
    width: 200px;
    margin: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.centerPokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
}